extends template.pug

block scripts
  link(rel='stylesheet', href='./bootstrap-5.0.1-dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='./js/gojs/assets/css/style.css')
  link(rel='stylesheet', href='./css/style.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
  script(src='./js/gojs/release/go.js')
  script(src='./js/gojs/extensions/Figures.js')
  script(src='./js/gojs/extensions/DataInspector.js')
  script(src='./js/dagre.js')
  script(src='./js/init.js')
  script(src='./js/export.js') 
  script(src='./js/export2.js')
  script(src='./js/download.js')
  script(src='./js/todayTime.js')
  script(src='./js/uploadAndImportFromExcel.js', defer='')
  script(src='./js/reuse2.js', defer)
  script(src='./js/classes/Node.js')
  script(src='./js/classes/Link.js')
  script(src='./js/classes/Preset.js')
  script(src='./js/collapse.js')
block content
  #mySidebar.leftMenu
    form(action='/greeter', method='get', id='homeForm')
      a(href="javascript:{}" onclick="document.getElementById('homeForm').submit();") &nbsp;Home 
        i(class='fa fa-home', style='position:relative;float:left;padding:6px 2px;')
    form(action='/upload', method='post', id='uploadDBForm')
      input#diagramId(type='hidden', name='diagramId' value=diagramId)
      input#uploadData(type='hidden', name='uploadData')
      input#uploadLinks(type='hidden', name='uploadLinks')
      input#uploadDataObj(type='hidden', name="uploadDataObj")
      a(href="javascript:{}" onclick="document.getElementById('uploadDBForm').submit();") &nbsp;Save
        i(class='fa fa-floppy-o', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#home-collapse' aria-expanded='true') &nbsp;Export
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')
        i(class='fa fa-external-link', style='position:relative;float:left;padding:6px 2px;')
      #home-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="javascript:{}", onclick='save2()', class="dropdown-item") &nbsp; Export Personal Data
          li
            a#savedModel(href="javascript:{}", onclick='save()', class="dropdown-item") &nbsp; Export DataObj
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#formModal") &nbsp;Import from Excel
        i(class='fa fa-sign-in', style='position:relative;float:left;padding:6px 2px;')
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#dataObjModal")  &nbsp;Manage Data Objects
        i(class='fa fa-wrench', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#account-collapse' aria-expanded='false') &nbsp;About
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')  
        i(class='fa fa-info', style='position:relative;float:left;padding:6px 7px;')
      #account-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="'https://github.com/ersanuensal/Advanced-Programming/blob/main/README.md") &nbsp; Documentation
  .contentPages
    input#downloadData(type='hidden', name='downloadData' value=downloadData)
    input#downloadLinks(type='hidden', name='downloadLinks' value=downloadLinks)
    input#downloadDataObj(type='hidden', name='downloadDataObj' value=downloadDataObj)
    .centercontainer
      #myPaletteDiv.palette
      #myOverviewDiv.overview
      #myDiagramDiv.diagram
      #myInspectorDiv.inspector
      #linkInspector.modal.fade(tabindex='-1' aria-labelledby='linkInspectorLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Data Objects
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              div(style="display: grid; margin: auto; width: 50%; padding: 10px; height: 250px; width:250px;")
                input#linkFrom(type='hidden')
                input#linkTo(type='hidden')
                div(class="form-group")
                  label Name: &nbsp;
                  input#linkName(type='text' class='form-control')
                div(class="form-group")
                  label Description: &nbsp;
                  textarea#linkDescription(class='form-control')
                div(class="form-group")
                  label Color: &nbsp;
                  input#linkColor(type='color' style="border: none;")
                div(class="form-group")
                  label Personal Data: &nbsp; &nbsp; &nbsp; &nbsp;
                  input#linkPersonalData(type='checkbox' class='form-check-input')
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
              button.btn.btn-primary(type='button' onclick='saveLinkProperties()') Save changes
      div(class="modal fade" id="dataObjModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              h5.modal-title#ModalLabel Data Objects
              button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            div(class="modal-body")
              <div class="row mb-3">
                div
                  button#resave(onclick='showCreateDataObj(1)')  Create Data Object 
                  button#reload(onclick='showEditDataObj(1)')  Edit Data Object
                  button#reedit(onclick='')  Delete Data Object
                div
                #saveDataObj.form-popup
                  form#showCreateDataObj.form-container(action='')
                    h1 Create a Data Object
                    div(class="form-group")
                      label#dataObjNameLabel(for='dataObjName')
                        b Name
                      input#dataObjName(type='text' placeholder='Enter Name' required='')
                    div(class="form-group")
                      label(for='desc')
                        b Description
                      input#dataObjDes(type='text' placeholder='Enter Description' required='')
                    div(class="form-group")
                      label(for='color')
                        b Color
                      input#dataObjColor(type='color' value='#000000' required='')
                    div(class="form-group")
                      label(for='checkbox')
                        b PersonalData &nbsp;
                      input#dataObjPer(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                    button.btn(type='button' onclick='resave()' class="btn btn-primary") Save Data Object
                    button.btn.cancel(type='button' class="btn btn-danger" onclick='showCreateDataObj(0)') Close
                  form#showEditDataObj.form-container(action='')
                    div
                      select.bigselector(size="5", id='selectDataObj')
                    br
                    br
                    button.btn(type='button' onclick='selectDataObjFromTable()') Edit
                    button.btn.cancel(type='button' onclick='showEditDataObj(0)') Close
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                  form#showEditDataObjForm.form-container(action='')
                    h1 Edit a Data Object
                    input#hiddenDataObjID(type="hidden")
                    div(class="form-group")
                      label#dataObjNameEditLabel(for='dataObjNameEdit')
                        b Name
                      input#dataObjNameEdit(type='text' required='')
                    div(class="form-group")
                      label(for='desc')
                        b Description
                      input#dataObjDesEdit(type='text' required='')
                    div(class="form-group")
                      label(for='color')
                        b Color
                      input#dataObjColorEdit(type='color' required='')
                    div(class="form-group")
                      label(for='checkbox')
                        b PersonalData &nbsp;
                      input#dataObjPerEdit(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                    button.btn(type='button' onclick='SaveEditedDataObj()' class="btn btn-primary") Save Data Object
      div(class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
          div(class="modal-content")
            div(class="modal-header")
              h5.modal-title#ModalLabel Import from Excel
              button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            div(class="modal-body")
            .container 
              .row.justify-content-md-center
                .col-8
                  form#uploadForm(hidden = false)
                    .row.mb-3(id="fieldsHolder")
                        input(type='file' class = 'form-control' id = 'inpFile' name='inpFile' required accept='.xlsx, .xls, .xlsm')
                    .row.mb-3
                      div
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Import now

                  form#importForm(hidden = true)
                    input(type='hidden' id = 'filePath' name='filePath')
                    .row.mb-3
                      label.form-label(for='sheetName') Sheetname:
                      select.form-select(id = "sheetName", name="sheetName")

                    .row.mb-3
                      label.form-label(for='appName') Name:
                      select.form-select.selectOptions(id = "appName" name="appName" disabled)

                    .row.mb-3
                      label.form-label(for='appKey') Key:
                      select.form-select.selectOptions(id = "appKey" name="appKey" disabled)

                    .row.mb-3
                      label.form-label(for='appDescription') Description:
                      select.form-select.selectOptions(id = "appDescription" name="appDescription" disabled)

                    .row.mb-3
                      label.form-label(for='appCOTS') COTS:
                      select.form-select.selectOptions(id = "appCOTS" name="appCOTS" disabled)

                    .row.mb-3
                      label.form-label(for='appReleaseDate') Release Date:
                      select.form-select.selectOptions(id = "appReleaseDate" name="appReleaseDate" disabled)

                    .row.mb-3
                      label.form-label(for='appShutdownDate') Shutdown Date:
                      select.form-select.selectOptions(id = "appShutdownDate" name="appShutdownDate" disabled)

                    .row.mb-3
                      div
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Import now


        

    // <div id="Descriptor" class="Descriptor"><textarea id="descripted" class="descripted">test</textarea></div>
