extends template.pug

block scripts
  meta(name='viewport' content='width=device-width')
  link(rel='stylesheet', href='./bootstrap-5.0.1-dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='./js/gojs/assets/css/style.css')
  link(rel='stylesheet', href='./css/style.scss')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
  script(src='./js/gojs/release/go.js')
  script(src='./js/gojs/extensions/Figures.js')
  //- script(src='./js/gojs/extensions/DataInspector.js') 
  script(src='./js/init.js')
  script(src='./js/export.js') 
  script(src='./js/export2.js')
  script(src='./js/download.js')
  script(src='./js/todayTime.js')
  script(src='./js/uploadAndImportFromExcel.js', defer='')
  script(src='./js/reuse2.js', defer)
  script(src='./js/classes/Node.js')
  script(src='./js/classes/Link.js')
  script(src='./js/classes/Preset.js')
  script(src='./js/classes/InstanceOfPreset.js')
block content
  #mySidebar.leftMenu
    form(action='/greeter', method='get', id='homeForm')
      a(href="javascript:{}" onclick="document.getElementById('homeForm').submit();") &nbsp;Home 
        i(class='fa fa-home', style='position:relative;float:left;padding:6px 2px;')
    form(action='/updateDataObj', method='post', id='updateDataObjForm')
      input#diagramId2(type='hidden', name='diagramId' value=diagramId)
      input#uploadDataObj2(type='hidden', name="uploadDataObj" value=uploadDataObj2)
    form(action='/upload', method='post', id='uploadDBForm')
      input#diagramId(type='hidden', name='diagramId' value=diagramId)
      input#uploadData(type='hidden', name='uploadData')
      input#uploadLinks(type='hidden', name='uploadLinks')
      input#uploadDataObj(type='hidden', name="uploadDataObj")
      input#uploadInstanceOfPreset(type='hidden', name='uploadInstanceOfPreset')
      a(href="javascript:{}" onclick="document.getElementById('uploadDBForm').submit();") &nbsp;Save
        i(class='fa fa-floppy-o', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#home-collapse' aria-expanded='true') &nbsp;Export
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')
        i(class='fa fa-external-link', style='position:relative;float:left;padding:6px 2px;')
      #home-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="javascript:{}", onclick='save2()', class="dropdown-item") &nbsp; Export Personal Data
          li
            a#savedModel(href="javascript:{}", onclick='save()', class="dropdown-item") &nbsp; Export DataObj
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#formModal") &nbsp;Import from Excel
        i(class='fa fa-sign-in', style='position:relative;float:left;padding:6px 2px;')
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#dataObjModal")  &nbsp;Manage Data Objects
        i(class='fa fa-wrench', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#account-collapse' aria-expanded='false') &nbsp;About
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')  
        i(class='fa fa-info', style='position:relative;float:left;padding:6px 7px;')
      #account-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="'https://github.com/ersanuensal/Advanced-Programming/blob/main/README.md") &nbsp; Documentation
  .contentPages
    input#downloadData(type='hidden', name='downloadData' value=downloadData)
    input#downloadLinks(type='hidden', name='downloadLinks' value=downloadLinks)
    input#downloadDataObj(type='hidden', name='downloadDataObj' value=downloadDataObj)
    input#downloadInstanceOfPreset(type='hidden', name='downloadInstanceOfPreset' value=downloadInstanceOfPreset)

    .centercontainer
      #myPaletteDiv.palette
      #myOverviewDiv.overview
      #myDiagramDiv.diagram
      #linkInspector.modal.fade(tabindex='-1' aria-labelledby='linkInspectorLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          div.linkModal
            .modal-content
              .modal-header
                div.headerTableLinks
                  label Link:&nbsp;
                  a#linkName()
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                div.linkTable
                    table.table.table-condensed(style='border-collapse:collapse;' id="linkTable")
                      thead
                        tr
                          th Name
                          th Personal Data
                      tbody#tbody
                      input#linkFrom(type='hidden')
                      input#linkTo(type='hidden')
                      div(class="form-group")
                      input#linkColor(type='hidden' style="border: none;")
              .modal-footer
                div.linkTableFooter1
                  select#addDataObjectSelect(class="form-select form-select-sm" aria-label=".form-select-sm example")
                    option Select a Data Object
                div.linkTableFooter2
                  button.btn.btn-success(type="button", onclick='selectDataObjFromAddTable()')
                    i(class="fa fa-plus" style='position:relative;float:left;padding:6px 2px;')
        #nodeInspector.modal.fade(tabindex='-1' aria-labelledby='linkInspectorLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            div.nodeModal
              .modal-content
                .modal-header
                    h5(style="font: bold 1.2em helvetica, sans-serif;")#exampleModalLabel.modal-title Node
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                  div.nodeModalBody
                    input#nodeID(type='hidden')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Name: &nbsp;
                      input#nodeName(type='text' class='form-control')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Version: &nbsp;
                      input#nodeVersion(class='form-control')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Description: &nbsp;
                      textarea#nodeDescription(class='textareaNodeDescription')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") COTS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      select(style="float: right;")#nodeCots
                        option COTS
                        option Proprietary
                        option Undefined
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif; textAlign: center") Release Date: 
                      input#nodeReleaseDate(type='date' style="float: right; padding: 0.25vh")
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Shutdown Date:  
                      input#nodeShutdownDate(type='date' style="float: right; padding: 0.25vh") 
                .modal-footer
                  div.nodeModalFooter
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button.btn.btn-primary(type='button' onclick='saveNodeProperties()') Save changes
      div(class="modal fade" id="dataObjModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              h5.modal-title#ModalLabel Data Objects
              button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            div(class="modal-body")
              <div class="row mb-3">
                div
                  button#resave(onclick='showCreateDataObj(1)')  Create Data Object 
                  button#reload(onclick='showEditDataObj(1)')  Edit Data Object
                  button#reedit(onclick='')  Delete Data Object
                div
                #saveDataObj.form-popup
                  form#showCreateDataObj.form-container(action='')
                    div(style="display: grid; margin: auto; width: 50%; padding: 10px; height: 350px; width:350px;")
                      h1 Create a Data Object
                      div(class="form-group")
                        label#dataObjNameLabel(for='dataObjName')
                          b Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjName(type='text' placeholder='Enter Name' required='')
                      div(class="form-group")
                        label(for='desc')
                          b Description:&nbsp;&nbsp;
                        input#dataObjDes(type='text' placeholder='Enter Description' required='')
                      div(class="form-group")
                        label(for='color')
                          b Color: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjColor(type='color' value='#000000' required='')
                      div(class="form-group")
                        label(for='checkbox')
                          b PersonalData: &nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjPer(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                    button.btn(style="margin-left: 100px;" type='button' onclick='resave()' class="btn btn-primary") Save Data Object
                    button.btn.cancel(type='button' class="btn btn-danger" onclick='showCreateDataObj(0)') Close
                  form#showEditDataObj.form-container(action='')
                    div
                      select.bigselector(size="5", id='selectDataObj')
                    br
                    br
                    button.btn(type='button' onclick='selectDataObjFromTable()') Edit
                    button.btn.cancel(type='button' onclick='showEditDataObj(0)') Close
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                  form#showEditDataObjForm.form-container(action='')
                    div(style="display: grid; margin: auto; width: 50%; padding: 10px; height: 350px; width:350px;")
                      h1 Edit a Data Object
                      input#hiddenDataObjID(type="hidden")
                      div(class="form-group")
                        label#dataObjNameEditLabel(for='dataObjNameEdit')
                          b Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjNameEdit(type='text' required='')
                      div(class="form-group")
                        label(for='desc')
                          b Description:&nbsp;&nbsp;
                        input#dataObjDesEdit(type='text' required='')
                      div(class="form-group")
                        label(for='color')
                          b Color: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjColorEdit(type='color' required='')
                      div(class="form-group")
                        label(for='checkbox')
                          b PersonalData &nbsp;&nbsp;&nbsp;&nbsp;
                        input#dataObjPerEdit(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                    button.btn(style="margin-left: 150px" type='button' onclick='SaveEditedDataObj()' class="btn btn-primary") Save Data Object
      div(class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
          div(class="modal-content")
            div(class="modal-header")
              h5.modal-title#ModalLabel Import from Excel
              button.btn-close(type='button' class = 'cancelImportBtn' data-bs-dismiss='modal' aria-label='Close')
            div(class="modal-body")
            .container 
              .row.justify-content-md-center
                .col-8
                  form#uploadForm(hidden = false)
                    .row.mb-3(id="fieldsHolder")
                        input(type='file' class = 'form-control' id = 'inpFile' name='inpFile' required accept='.xlsx, .xls, .xlsm')
                    .row.mb-3
                      div
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Upload now

                  form#importForm(hidden = true)
                    input(type='hidden' id = 'filePath' name='filePath')
                    .row.mb-3
                      label.form-label(for='sheetName') Sheetname:
                      select.form-select(id = "sheetName", name="sheetName")

                    .row.mb-3
                      label.form-label(for='appName') Name:
                      select.form-select.selectOptions(id = "appName" name="appName" disabled)

                    .row.mb-3
                      label.form-label(for='appKey') Key:
                      select.form-select.selectOptions(id = "appKey" name="appKey" disabled)

                    .row.mb-3
                      label.form-label(for='appDescription') Description:
                      select.form-select.selectOptions(id = "appDescription" name="appDescription" disabled)

                    .row.mb-3
                      label.form-label(for='appCOTS') COTS:
                      select.form-select.selectOptions(id = "appCOTS" name="appCOTS" disabled)

                    .row.mb-3
                      label.form-label(for='appReleaseDate') Release Date:
                      select.form-select.selectOptions(id = "appReleaseDate" name="appReleaseDate" disabled)

                    .row.mb-3
                      label.form-label(for='appShutdownDate') Shutdown Date:
                      select.form-select.selectOptions(id = "appShutdownDate" name="appShutdownDate" disabled)

                    .row.mb-3
                      div
                        button.btn.btn-danger(class = 'cancelImportBtn' type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Import now
                        button.btn.btn-primary(id = 'showResultsModalBtn' data-bs-target='#resultsModal' data-bs-toggle='modal' data-bs-dismiss='modal' hidden)


      div#resultsModal.modal.fade(aria-hidden='true' aria-labelledby='resultsModalLabel' tabindex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
          div.modal-content
            div.modal-header
              h2#resultsModalLabel.modal-title Results
              button.btn-close(class = 'rejectResults' type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body
              .ImportResults.row
                #successImport.col
                #falseImport.col
            div.modal-footer
              button.btn.btn-primary(id = 'showReslutsTable' data-bs-target='#tableModal' data-bs-toggle='modal' data-bs-dismiss='modal') See ignored Apps
              button.btn.btn-success(id = 'acceptResults' data-bs-dismiss="modal") accept
              button.btn.btn-danger(class = 'rejectResults' data-bs-dismiss="modal") discard 

      div#tableModal.modal.fade(aria-hidden='true' aria-labelledby='tableModalLabel' tabindex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-fullscreen
          div.modal-content
            div.modal-header
              h2#tableModalLabel.modal-title Table
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body
              table.table.table-striped#resultsTable
                thead
                  tr
                tbody
                  tr
                    th(scope='row') 1
                  tr
                    th(scope='row') 2
                  tr


            div.modal-footer
              button.btn.btn-secondary(data-bs-target='#resultsModal' data-bs-toggle='modal' data-bs-dismiss='modal') Back


        

    // <div id="Descriptor" class="Descriptor"><textarea id="descripted" class="descripted">test</textarea></div>
