extends template.pug

block scripts
  meta(name='viewport' content='width=device-width')
  link(rel='stylesheet', href='./bootstrap-5.0.1-dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='./js/gojs/assets/css/style.css')
  link(rel='stylesheet', href='./css/style.scss')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
  script(src='./js/gojs/release/go.js')
  script(src='./js/gojs/extensions/Figures.js')
  //- script(src='./js/gojs/extensions/DataInspector.js') 
  script(src='./js/init.js')
  script(src='./js/export.js') 
  script(src='./js/export2.js')
  script(src='./js/download.js')
  script(src='./js/todayTime.js')
  script(src='./js/uploadAndImportFromExcel.js', defer='')
  script(src='./js/reuse2.js', defer)
  script(src='./js/classes/Node.js')
  script(src='./js/classes/Link.js')
  script(src='./js/classes/Preset.js')
  script(src='./js/classes/InstanceOfPreset.js')
  //- script(src='./js/jqueryTest')
block content
  #mySidebar.leftMenu
    form(action='/greeter', method='get', id='homeForm')
      a(href="javascript:{}" onclick="document.getElementById('homeForm').submit();") &nbsp;Home 
        i(class='fa fa-home', style='position:relative;float:left;padding:6px 2px;')
    form(action='/updateDataObj', method='post', id='updateDataObjForm')
      input#diagramId2(type='hidden', name='diagramId' value=diagramId)
      input#uploadDataObj2(type='hidden', name="uploadDataObj" value=uploadDataObj2)
    form(action='/upload', method='post', id='uploadDBForm')
      input#diagramId(type='hidden', name='diagramId' value=diagramId)
      input#uploadData(type='hidden', name='uploadData')
      input#uploadLinks(type='hidden', name='uploadLinks')
      input#uploadDataObj(type='hidden', name="uploadDataObj")
      input#uploadInstanceOfPreset(type='hidden', name='uploadInstanceOfPreset')
      a(href="javascript:{}" onclick="document.getElementById('uploadDBForm').submit();") &nbsp;Save
        i(class='fa fa-floppy-o', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#home-collapse' aria-expanded='true') &nbsp;Export
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')
        i(class='fa fa-external-link', style='position:relative;float:left;padding:6px 2px;')
      #home-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="javascript:{}", onclick='save2()', class="dropdown-item") &nbsp; Export Personal Data
          li
            a#savedModel(href="javascript:{}", onclick='save()', class="dropdown-item") &nbsp; Export DataObj
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#formModal") &nbsp;Import from Excel
        i(class='fa fa-sign-in', style='position:relative;float:left;padding:6px 2px;')
      a(href="javascript:{}" data-bs-toggle="modal" data-bs-target="#dataObjModal")  &nbsp;Manage Data Objects
        i(class='fa fa-wrench', style='position:relative;float:left;padding:6px 2px;')
      a.collapsed(data-bs-toggle='collapse' data-bs-target='#account-collapse' aria-expanded='false') &nbsp;About
        i(class='fa fa-caret-down', style='position:relative;float:right;padding:6px 2px;')  
        i(class='fa fa-info', style='position:relative;float:left;padding:6px 7px;')
      #account-collapse.collapse
        ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          li
            a(href="'https://github.com/ersanuensal/Advanced-Programming/blob/main/README.md") &nbsp; Documentation
  .contentPages
    input#downloadData(type='hidden', name='downloadData' value=downloadData)
    input#downloadLinks(type='hidden', name='downloadLinks' value=downloadLinks)
    input#downloadDataObj(type='hidden', name='downloadDataObj' value=downloadDataObj)
    input#downloadInstanceOfPreset(type='hidden', name='downloadInstanceOfPreset' value=downloadInstanceOfPreset)

    .centercontainer
      #myPaletteDiv.palette
      #myOverviewDiv.overview
      #myDiagramDiv.diagram
      #linkInspector.modal.fade(tabindex='-1' aria-labelledby='linkInspectorLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-scrollable.modal-dialog-centered
          div.linkModal
            .modal-content
              .modal-header
                div.headerTableLinks
                  label Link:&nbsp;
                  a#linkName()
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                div(class="alert alert-danger" role="alert" id='validDataObject' aria-label="Close" style="display: none;" ) 
                    i(class='fa fa-warning', style='position:relative;float:left;padding:6px 2px;')
                    span(aria-hidden="true") &nbsp;Please a valid Data Object
                div.linkTable
                    table.table.table-condensed(style='border-collapse:collapse;' id="linkTable")
                      thead
                        tr(style='font: bold 0.875em helvetica, sans-serif; font-size: 1.8em;')
                          th Name
                          th Personal Data
                      tbody#tbody
                      input#linkFrom(type='hidden')
                      input#linkTo(type='hidden')
                      div(class="form-group")
                      input#linkColor(type='hidden' style="border: none;")
              .modal-footer
                div.linkTableFooter1
                  select#addDataObjectSelect(class="form-select form-select-sm" aria-label=".form-select-sm example")
                div.linkTableFooter2
                  button.btn-sm.btn-success(type="button", onclick='selectDataObjFromAddTable()')
                    i(class="fa fa-plus" style='position:relative;float:left;padding:6px 2px;')
        #nodeInspector.modal.fade(tabindex='-1' aria-labelledby='nodeInspectorLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            div.nodeModal
              .modal-content
                .modal-header
                    h5(style="font: bold 1.2em helvetica, sans-serif;")#exampleModalLabel.modal-title Node
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                  div.nodeModalBody
                    input#nodeID(type='hidden')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Name: &nbsp;
                      input.border.border-2#nodeName(type='text' class='form-control')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Version: &nbsp;
                      input.border.border-2#nodeVersion(class='form-control')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Description: &nbsp;
                      textarea.border.border-2.form-control#nodeDescription(class='textareaNodeDescription' style='display: block; border-radius: 0.5em; width: 100%; height: 16vh; resize: none;')
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") COTS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      select.border.border-2(style="float: right; padding: 0.25vh")#nodeCots
                        option COTS
                        option Proprietary
                        option Undefined
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif; textAlign: center") Release Date: 
                      input.border.border-2#nodeReleaseDate(type='date' style="float: right; padding: 0.25vh")
                    div(class="form-group")
                      label(style="font: bold 1em helvetica, sans-serif;") Shutdown Date:  
                      input.border.border-2#nodeShutdownDate(type='date' style="float: right; padding: 0.25vh") 
                .modal-footer
                  div.nodeModalFooter
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button.btn.btn-primary(type='button' onclick='saveNodeProperties()') Save changes
        #dataObjModal.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel' tabindex='-1')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5#exampleModalToggleLabel.modal-title.modalcustom Manage Data Objects
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                button.btn.btn-primary(data-bs-target='#createDataObject' data-bs-toggle='modal' data-bs-dismiss='modal') Create Data Object
                button.btn.btn-primary(onclick='showEditDataObj()') Edit Data Object
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        #createDataObject.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5#exampleModalToggleLabel2.modal-title.modalcustom Create Data Object
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                div.createBody
                  form#showCreateDataObj.form-container(action='')
                    div(class="form-group")
                      label#dataObjNameLabel(for='dataObjName')
                        b Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      input.border.border-2.form-control#dataObjName(type='text' placeholder='Enter Name' required='')
                    div(class="form-group")
                      label(for='desc')
                        b Description:&nbsp;&nbsp;
                      input.border.border-2.form-control#dataObjDes(type='text' placeholder='Enter Description' required='')
                    div(class="form-group")
                      input#dataObjColor(type='hidden' required='')
                    div(class="form-group")
                      label(for='checkbox')
                        b PersonalData: &nbsp;&nbsp;&nbsp;&nbsp;
                      input.border.border-2#dataObjPer(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                  div(class="form-group" style="display: flex; justify-content: center; align-items: center;")
                    button.btn.btn-primary(onclick='resave()') Save Data Object
              .modal-footer
                button.btn.btn-primary(data-bs-target='#dataObjModal' data-bs-toggle='modal' data-bs-dismiss='modal') Back to menu
        a.btn.btn-primary(data-bs-toggle='modal' href='#dataObjModal' role='button') Open first modal
        #editDataObject.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel3' tabindex='-1')
          .modal-dialog.modal-dialog-centered
            div.dialogedit
              .modal-content
                .modal-header
                  h5#exampleModalToggleLabel2.modal-title.modalcustom Edit Data Object
                  button.btn-close(data-bs-target='#dataObjModal' data-bs-toggle='modal' data-bs-dismiss='modal')
                .modal-body
                  div.editBodyModal
                    div
                      select.border.border-2.dataobjselector(size="7", id='selectDataObj' onchange="selectDataObjFromTable()")
                    br
                    div(class="form-group" style="display: flex; justify-content: center; align-items: center;")    
                      button.btn.btn-danger#reedit(onclick='deleteDataObjFromTable()')  Delete
                    form#showEditDataObjForm.form-container(action='')
                      div
                        input#hiddenDataObjID(type="hidden")
                        div(class="form-group")
                          label#dataObjNameEditLabel(for='dataObjNameEdit')
                            b Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          input.border.border-2.form-control#dataObjNameEdit(type='text' required='')
                        div(class="form-group")
                          label(for='desc')
                            b Description:&nbsp;&nbsp;
                          input.border.border-2.form-control#dataObjDesEdit(type='text' required='')
                        div(class="form-group")
                          //- label(for='color')
                          //-   b Color: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          input#dataObjColorEdit(type='hidden' required='')
                        div(class="form-group")
                          label(for='checkbox')
                            b PersonalData &nbsp;&nbsp;&nbsp;&nbsp;
                          input.border.border-2#dataObjPerEdit(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                      button.btn(style="margin-left: 150px" type='button' onclick='SaveEditedDataObj()' class="btn btn-primary") Save Data Object
                      br
                  .modal-footer
                    button.btn.btn-primary(type='button' data-bs-dismiss='modal' aria-label='Close') Back to menu
        a.btn.btn-primary(data-bs-toggle='modal' href='#dataObjModal' role='button') Open first modal
        //- #dataObjModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='dataObjModalLabel' aria-hidden='true')
        //-   .modal-dialog.modal-dialog-centered
        //-     div.dataObjModal
        //-       .modal-content
        //-         .modal-header
        //-           h5(style="font: bold 1.2em helvetica, sans-serif;")#exampleModalLabel.modal-title Manage Data Objects
        //-           button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        //-         .modal-body
        //-           button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@mdo') Create Data Object
        //-           button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@fat') Edit Data Object
        //- #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        //-   .modal-dialog
        //-     .modal-content
        //-       .modal-header
        //-         h5#exampleModalLabel.modal-title Manage Data Object
        //-         button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        //-       .modal-body
        //-         form
        //-           .mb-3
        //-             form#showCreateDataObj.form-container(action='')
        //-                 div(style="display: grid; margin: auto; width: 50%; padding: 10px; height: 350px; width:350px;")
        //-                   h1 Create a Data Object
        //-                   div(class="form-group")
        //-                     label#dataObjNameLabel(for='dataObjName')
        //-                       b Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        //-                     input#dataObjName(type='text' placeholder='Enter Name' required='')
        //-                   div(class="form-group")
        //-                     label(for='desc')
        //-                       b Description:&nbsp;&nbsp;
        //-                     input#dataObjDes(type='text' placeholder='Enter Description' required='')
        //-                   div(class="form-group")
        //-                     label(for='color')
        //-                       b Color: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        //-                     input#dataObjColor(type='color' value='#000000' required='')
        //-                   div(class="form-group")
        //-                     label(for='checkbox')
        //-                       b PersonalData: &nbsp;&nbsp;&nbsp;&nbsp;
        //-                     input#dataObjPer(type='checkbox' class="form-check-input" style="margin-left: 10px;")
        //-           .mb-3
        //-             label.col-form-label(for='message-text') Edit
        //-             textarea#message-text.form-control
        //-       .modal-footer
        //-         button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        //-         button.btn.btn-primary(type='button') Send message      
                //- ul.nav.nav-tabs
                //-   li.nav-item
                //-     button.nav-link.active(id="home" data-bs-toggle='tab' data-bs-target='#createTab' type='button' role='tab' aria-controls='home' aria-selected='true')  New Data Object
                //-   li.nav-item
                //-     button.nav-link(id="profile" data-bs-toggle='tab' data-bs-target='#editTab' type='button' role='tab' aria-controls='profile' aria-selected='false') Edit Data Object                      
                //- .tab-content
                  //- #createTab.tab-pane.active(role='tabpanel' aria-labelledby='home-tab')
                  //-   form#showCreateDataObj.form-container(action='')
                  //-     div(style="display: grid; margin: auto; width: 50%; padding: 10px; height: 350px; width:350px;")
                  //-       h1 Create a Data Object
                  //-       div(class="form-group")
                  //-         label#dataObjNameLabel(for='dataObjName')
                  //-           b Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  //-         input#dataObjName(type='text' placeholder='Enter Name' required='')
                  //-       div(class="form-group")
                  //-         label(for='desc')
                  //-           b Description:&nbsp;&nbsp;
                  //-         input#dataObjDes(type='text' placeholder='Enter Description' required='')
                  //-       div(class="form-group")
                  //-         label(for='color')
                  //-           b Color: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  //-         input#dataObjColor(type='color' value='#000000' required='')
                  //-       div(class="form-group")
                  //-         label(for='checkbox')
                  //-           b PersonalData: &nbsp;&nbsp;&nbsp;&nbsp;
                  //-         input#dataObjPer(type='checkbox' class="form-check-input" style="margin-left: 10px;")
                  //-     button.btn(style="margin-left: 100px;" type='button' onclick='resave()' class="btn btn-primary") Save Data Object
                  //-     button.btn.cancel(type='button' class="btn btn-danger" onclick='showCreateDataObj(0)') Close
                  //- #editTab.tab-pane(role='tabpanel' aria-labelledby='profile-tab')              
                  //- #saveDataObj.form-popup  
      div(class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
          div(class="modal-content")
            div(class="modal-header")
              h5.modal-title#ModalLabel Import from Excel
              button.btn-close(type='button' class = 'cancelImportBtn' data-bs-dismiss='modal' aria-label='Close')
            div(class="modal-body")
            .container 
              .row.justify-content-md-center
                .col-8
                  form#uploadForm(hidden = false)
                    .row.mb-3(id="fieldsHolder")
                        input(type='file' class = 'form-control' id = 'inpFile' name='inpFile' required accept='.xlsx, .xls, .xlsm')
                    .row.mb-3
                      div
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Upload now

                  form#importForm(hidden = true)
                    input(type='hidden' id = 'filePath' name='filePath')
                    .row.mb-3
                      label.form-label(for='sheetName') Sheetname:
                      select.form-select(id = "sheetName", name="sheetName")

                    .row.mb-3
                      label.form-label(for='appName') Name:
                      select.form-select.selectOptions(id = "appName" name="appName" disabled)

                    .row.mb-3
                      label.form-label(for='appKey') Key:
                      select.form-select.selectOptions(id = "appKey" name="appKey" disabled)

                    .row.mb-3
                      label.form-label(for='appDescription') Description:
                      select.form-select.selectOptions(id = "appDescription" name="appDescription" disabled)

                    .row.mb-3
                      label.form-label(for='appCOTS') COTS:
                      select.form-select.selectOptions(id = "appCOTS" name="appCOTS" disabled)

                    .row.mb-3
                      label.form-label(for='appReleaseDate') Release Date:
                      select.form-select.selectOptions(id = "appReleaseDate" name="appReleaseDate" disabled)

                    .row.mb-3
                      label.form-label(for='appShutdownDate') Shutdown Date:
                      select.form-select.selectOptions(id = "appShutdownDate" name="appShutdownDate" disabled)

                    .row.mb-3
                      div
                        button.btn.btn-danger(class = 'cancelImportBtn' type='button', data-bs-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Import now
                        button.btn.btn-primary(id = 'showResultsModalBtn' data-bs-target='#resultsModal' data-bs-toggle='modal' data-bs-dismiss='modal' hidden)


      div#resultsModal.modal.fade(aria-hidden='true' aria-labelledby='resultsModalLabel' tabindex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
          div.modal-content
            div.modal-header
              h2#resultsModalLabel.modal-title Results
              button.btn-close(class = 'rejectResults' type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body
              .ImportResults.row
                #successImport.col
                #falseImport.col
            div.modal-footer
              button.btn.btn-primary(id = 'showReslutsTable' data-bs-target='#tableModal' data-bs-toggle='modal' data-bs-dismiss='modal') See ignored Apps
              button.btn.btn-success(id = 'acceptResults' data-bs-dismiss="modal") accept
              button.btn.btn-danger(class = 'rejectResults' data-bs-dismiss="modal") discard 

      div#tableModal.modal.fade(aria-hidden='true' aria-labelledby='tableModalLabel' tabindex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-fullscreen
          div.modal-content
            div.modal-header
              h2#tableModalLabel.modal-title Table
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body
              table.table.table-striped#resultsTable
                thead
                  tr
                tbody
                  tr
                    th(scope='row') 1
                  tr
                    th(scope='row') 2
                  tr


            div.modal-footer
              button.btn.btn-secondary(data-bs-target='#resultsModal' data-bs-toggle='modal' data-bs-dismiss='modal') Back


        

    // <div id="Descriptor" class="Descriptor"><textarea id="descripted" class="descripted">test</textarea></div>
